<html>
  <head>
    <title>
      Flask Starter Kit
    </title>
  </head>
  <body>
    <h1>To-Do List</h1>
    <br>
    <form method = "post" action = "{{url_for("index")}}">
      <input name = "priority" placeholder = "priority"></input><br>
      <input name = "item" placeholder = "list item"></input><br>
      <button>Add</button>
      <button>Delete</button>
      <br>
      <ul>
        {% for i in obj: %}
        <li>{{obj[i]}}</li>
        {% endfor %}
      </ul>
    </form>
  </body>
</html>
